#footer{
display: flex;
  justify-content: space-evenly;
  background-color: wheat;
  border-radius: 0.5rem;
  padding: 2.5rem;
}
#footer ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
#footer ul li a{
        text-decoration: none;
        color: black;
        transition: 0.3s ease-in-out;
}
#footer ul li a:hover {
    color: rgb(79, 47, 15);
}
#footer .socialLinks a {
        font-size: 1.3rem;
        transition: 0.3s ease-in-out;
}
#footer .socialLinks a:hover {
          color: rgb(79, 47, 15);
}