#footer{
display: flex;
  justify-content: space-evenly;
  background-color: #916d3e;
  border-radius: 0.5rem;
  padding: 2.5rem;
}
#footer ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
#footer ul li a{
        text-decoration: none;
        color: rgb(253, 247, 247);
        transition: 0.3s ease-in-out;
}
#footer span{
  color: rgb(253, 247, 247);
}
#footer ul li a:hover {
    color: #302ce9;
}
#footer .socialLinks a {
        font-size: 1.3rem;
        transition: 0.3s ease-in-out;
}
#footer .socialLinks a:hover {
          color: #302ce9;
}