.Nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Nav .brand .container{
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
      font-size: 1.2rem;
      font-weight: 900;
      text-transform: uppercase;
    }
.Nav .brand .toggle {
      display: none;
    }
.Nav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
      .Nav ul li a {
        text-decoration: none;
        color: rgb(135, 95, 55);
        font-size: 1.2rem;
        transition: 0.1s ease-in-out;
      }
        .Nav ul li a:hover {
          color: rgb(79, 47, 15);
        }
    .Nav ul li:first-of-type a{
          color: rgb(79, 47, 15);
          font-weight: 900;
        }
  .Nav button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: rgb(135, 95, 55);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
  }
    .Nav button:hover {
      background-color: rgb(79, 47, 15);
    }
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    .brand {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
}
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    .brand .toggle {
        display: block;
      }
    ul {
      display: none;
    }
    button {
      display: none;
    }
}