.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .tittle {
    text-align: center;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 36px;
    color: #333;
  }
  .restaurants-list {
    display: flex;
    flex-direction: column;
    
    }

.cards{
    max-width: 700%;
    height: 100%;
    width: 100%;
    display: flex;
    
} 