 .container{
    margin: 0;
    padding: 4rem;
    border-radius: 0.5rem;

} 
.tittle h1{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1rem;

    }
.restaurants-list,img{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    }

.cards{
    max-width: 700%;
    height: 100%;
    width: 100%;
    display: flex;
    
} 