#testimonials{
margin: 5rem 0;
}
#testimonials .title {
  text-align: center;
  margin-bottom: 2rem;
}
#testimonials .testimonials {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  gap: 2rem;
}
#testimonials .testimonials .testimonial {
    background-color: wheat;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s ease-in-out;
}
#testimonials .testimonials .testimonial:hover {
      transform: translateX(0.4rem) translateY(-1rem);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
#testimonials .testimonials .testimonial .info {
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      margin-top: 1rem;
}
#testimonials .testimonials .testimonial .info img {
        border-radius: 3rem;
        height: 10rem;
      }
#testimonials .testimonials .testimonial .info .detaisl span {
          font-size: 0.9rem;
}